.navbar {
  padding: 12px 20px !important;
  background-color: grey;
  opacity: 0.9;
  width: 100%;
}

.navbar-toggler {
  margin-bottom: 10px;
}

.logo {
  margin: 0 50px;
}

input {
  opacity: 0.8;
}

@media (min-width: 576px) {
  .navbar {
    margin-bottom: 30px !important;
  }

  .home {
    margin-left: 0;
    margin-top: -10px;
    font-size: 28px !important;
  }

  .logo {
    margin: 0 24px;
  }

  input {
    position: absolute;
    top: 80px;
    right: 35%;
  }
}

@media (min-width: 768px) {
  .navbar {
    margin-bottom: 0 !important;
  }

  .home {
    margin-left: -20px;
    margin-top: -10px;
    font-size: 28px !important;
  }

  .logo {
    margin: 0 40px;
  }

  input {
    position: absolute;
    top: 25px;
    right: 32px;
  }
}

@media (min-width: 992px) {
  input {
    position: absolute;
    top: 25px;
    right: 32px;
  }

  .home {
    margin-top: -10px;
    margin-left: -10px;
  }

  .logo {
    margin: 0 90px;
  }
}

@media (min-width: 1120px) {
  .home {
    margin-left: -20px;
  }

  .logo {
    margin: 0 110px;
  }
}

@media (min-width: 1200px) {
  .logo {
    margin: 0 160px;
  }
}

@media (min-width: 1350px) {
  .home {
    margin-left: -50px;
  }

  .logo {
    margin: 0 190px;
  }
}

@media (min-width: 1500px) {
  .home {
    margin-left: -120px;
  }

  .logo {
    margin: 0 280px;
  }
}

@media (min-width: 1600px) {
  .home {
    margin-left: -160px;
  }

  .logo {
    margin: 0 330px;
  }
}

@media (min-width: 1700px) {
  .home {
    margin-left: -200px;
  }

  .logo {
    margin: 0 380px;
  }

  input {
    position: absolute;
    right: 52px;
  }
}

@media (min-width: 1880px) {
  .home {
    margin-left: -300px;
  }

  .logo {
    margin: 0 420px;
  }

  input {
    position: absolute;
    right: 70px;
  }
}
